<header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" alt="{{item.name}}" height="64" width="64"/>
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize placeholder}}"/></h1>
</header>
