<div class="d-flex die-roller {{flexClass}} justify-content-center">

    <button class="roll-dice" data-dice-x="1" title="{{localize "tinyd6.dice.roll.disadvantage"}}">
        <span class="fas fa-fw fa-dice-d6"></span>
        {{#unless excludeTextLabels}}
            {{localize "tinyd6.dice.roll.disadvantage"}}
        {{/unless}}
    </button>
    <button class="roll-dice {{#if (eq flexClass "")}}mx-3{{/if}}" data-dice-x="2" title="{{localize "tinyd6.dice.roll.standard"}}">
        <span class="fas fa-fw fa-dice"></span>
        {{#unless excludeTextLabels}}
            {{localize "tinyd6.dice.roll.standard"}}
        {{/unless}}
    </button>
    <button class="roll-dice" data-dice-x="3" title="{{localize "tinyd6.dice.roll.advantage"}}">
        <span class="fas fa-fw fa-cubes"></span>
        {{#unless excludeTextLabels}}
            {{localize "tinyd6.dice.roll.advantage"}}
        {{/unless}}
    </button>

</div>

<div class="d-flex action-modifiers justify-content-center mt-2">
    <span class="mr-2">
        <label>
            <input type="checkbox" class="toggle-focus"/>
            {{localize "tinyd6.dice.modifier.focus"}}
        </label>
    </span>
    <span>
        <label>
            <input type="checkbox" class="toggle-marksman" disabled/>
            {{localize "tinyd6.dice.modifier.marksman"}}
        </label>
    </span>
</div>
