<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'tinyd6.weapon.name'}}"/></h1>
    </header>
    <table>
        <tr>
            <th>{{localize 'tinyd6.armor.type'}}</th>
            <th>{{localize 'tinyd6.armor.damageReduction'}}</th>
            <th>{{localize 'tinyd6.armor.slots'}}</th>
        </tr>
        <tr>
            <td>
                <select name="data.group">
                    {{#select data.group}}
                        {{#each config.armorTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </td>
            <td>
                <input type="text" name="data.damageReduction" value="{{data.damageReduction}}" data-dtype="Number"/>
            </td>
            <td>
                <input type="text" name="data.slots" value="{{data.slots}}" data-dtype="Number"/>
            </td>
        </tr>
    </table>
    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
</form>
