<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "tinyd6.trait.name"}}"/></h1>
    </header>
    <div class="d-flex">
        <label class="mr-2">{{localize "tinyd6.heritage.startingHealth"}}</label>
        <input name="data.startingHealth" type="text" value="{{data.startingHealth}}" placeholder="{{localize "tinyd6.heritage.startingHealth"}}" dType="Number"/>
        <label class="mx-2">{{localize "tinyd6.heritage.corruptionThreshold"}}</label>
        <input name="data.corruptionThreshold" type="text" value="{{data.corruptionThreshold}}" placeholder="{{localize "tinyd6.heritage.corruptionThreshold"}}" dType="Number"/>
    </div>
    <h2 class="section-header">{{localize "tinyd6.sheet.description"}}</h2>
    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}

    <h2 class="section-header">{{localize "tinyd6.heritage.trait"}}</h2>
    {{editor content=data.trait target="data.trait" button=true owner=owner editable=editable}}
</form>
