<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/tinyd6/templates/partials/item-header.hbs" placeholder='tinyd6.weapon.name'}}
    <table>
        <tr>
            <th class="text-nowrap">{{localize 'tinyd6.weapon.type'}}</th>
            <th class="text-nowrap">{{localize 'tinyd6.weapon.damage'}}</th>
            <th class="text-nowrap">{{localize 'tinyd6.weapon.slots'}}</th>
        </tr>
        <tr>
            <td class="text-nowrap">
                <select name="data.damageType">
                    {{#select data.data.damageType}}
                        {{#each config.weaponTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
                <select name="data.group">
                    {{#select data.data.group}}
                        {{#each config.weaponCategories as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </td>
            <td>
                <input type="text" class="text-center" name="data.damage" value="{{data.data.damage}}" dType="Number"/>
            </td>
            <td>
                <input type="text" class="text-center" name="data.slots" value="{{data.data.slots}}" dType="Number"/>
            </td>
        </tr>
    </table>
    {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
</form>
